body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: blue;
  color: white;
  height: 32px;
  border: none;
  padding-inline: 16px;
  border-radius: 16px;
  cursor: pointer;

  &:hover {
    background-color: green;
  }
}
